<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div>
      <form action="api/customers/login" method="POST">
        <label for="username">Username:</label>
        <input name="username" id="username" required />
        <label for="password">Pass:</label>
        <input id="password" type="text" name="password" required />
        <button>Log In</button>
      </form>
    </div>
  </body>
</html>
